body {
    background-color: #ffffff;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    padding: 50px;
}

img {
    width: 100px;
    height: 100px;
}
